/* ---------------------Font Family-------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* ---------------------Common css-------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}
img{
  vertical-align: middle;
}
.commonHead{
  text-align: center;
}
.commonHead h2{
  font-family: var(--brand_fontFamily);
  color: var(--brand_color);
  padding-bottom: 34px;
  font-size: 50px;
  font-weight: 700;
}
.commonHead p{
  font-family: var(--brand_fontFamily);
  color: var(--brand_color);
  font-size: 20px;
  font-weight: 400;
}
/* -------------------------Roots----------------------- */
:root {
  --brand_color: #42454A;
  --brand_fontFamily: "Ubuntu", sans-serif;
}

/* --------------------Navbar Starting----------------------- */
nav {
  padding: 26px 0 !important;
  border-bottom: 1px solid #EAE8F3;
}

.nav_links {
  gap: 75px;
  align-items: center;
}

.nav_links li a {
  color: var(--brand_color) !important;
  font-family: var(--brand_fontFamily);
  font-weight: 400;
  font-size: 14px;
  padding: 0px !important;
}

.nav_buttons {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* ---------button hover effect------- */
.nav_buttons .button {
  font-family: var(--brand_fontFamily);
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 16px 26px;
  background-color: #42454A;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  cursor: pointer;
  transition: all 1000ms;
  position: relative;
  overflow: hidden;
}

.button:hover {
  color: var(--brand_color);
  transform: scale(1.1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: white;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.button:hover::before {
  width: 250%;
}

/* --------------------Navbar Ending----------------------- */

/* --------------------Banner Starting----------------------- */
#banner {
  padding-top: 84px;
  position: relative;
  overflow: hidden;
}

.banner_image {
  position: absolute;
  max-width: 885px;
  min-width: 510px;
  height: 646px;
  top: 92px;
  right: 0;
}
.banner_image img:nth-child(2){
  position: absolute;
  width: 855px;
  right: 0;
  top: 0;
  
}
.banner_text h1 {
  font-family: var(--brand_fontFamily);
  color: var(--brand_color);
  font-weight: 300;
  text-transform: uppercase;
  font-size: 90px;
  animation: fade-left 0.5s cubic-bezier(0.4, 0, 0.2, 1) both;

}

.banner_text h2 {
  font-family: var(--brand_fontFamily);
  color: var(--brand_color);
  font-weight: 300;
  text-transform: uppercase;
  font-size: 90px;
  font-weight: 700;
}

.banner_line {
  width: 335px;
  height: 4px;
  background-color: var(--brand_color);
  display: inline-block;
  margin-top: 94px;
  margin-bottom: 62px;
}

.banner_text p {
  font-family: var(--brand_fontFamily);
  color: #42454A;
  font-size: 22px;
  font-weight: 400;
  width: 353px;
  line-height: 34px;
  margin-bottom: 62px;
}

.spinning_text {
  display: flex;
  gap: 21px;
}

.spinning_text p {
  font-family: var(--brand_fontFamily);
  font-size: 18px;
  font-weight: 500;
  width: 87px;
}

.arrow_n_spin {
  align-items: center;
  gap: 80px;
}

/* ---------------Text effect And Arrow effect------------- */
.arrow_button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

a.learn-more {
  width: 12rem;
  height: auto;
}

a.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #42454A;
}

a.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

a.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

a.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

a.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: -5;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 8px;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-family: var(--brand_fontFamily);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
}

.arrow_button:hover .circle {
  width: 100%;
}

.arrow_button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.arrow_button:hover .button-text {
  color: #fff;
}

/* text effect start from here */
.job {
  margin-bottom: 2rem;
  font-size: 1.875rem;
  font-weight: 700;
  animation: fade-left 0.5s cubic-bezier(0.4, 0, 0.2, 1) both;

  .jobs {
    color: var(--brand_color);

    &::before {
      content: "";
      animation: typing 9.5s linear infinite;
    }

    &::after {
      content: "";
      border-right: 4px solid #4d5bce;
      animation: blink 0.5s linear infinite;
    }
  }
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translate(2rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes typing {

  0%,
  47.8593% {
    content: "";
  }

  1.1395%,
  46.7198% {
    content: "f";
  }

  2.2791%,
  45.5803% {
    content: "fu";
  }

  3.4186%,
  44.4408% {
    content: "fut";
  }

  4.5581%,
  43.3013% {
    content: "futu";
  }

  5.6977%,
  42.1618% {
    content: "futur";
  }

  6.8372%,
  41.0223% {
    content: "future";
  }

  7.9767%,
  39.8828% {
    content: "future ";
  }

  9.1163%,
  38.7433% {
    content: "future !";
  }

  48.9988%,
  100% {
    content: "";
  }

  50.1383%,
  96.8578% {
    content: "";
  }

  51.2778%,
  95.7183% {
    content: "B";
  }

  52.4173%,
  94.5788% {
    content: "be";
  }

  53.5568%,
  93.4393% {
    content: "bey";
  }

  54.6963%,
  92.2998% {
    content: "beyo";
  }

  55.8358%,
  91.1603% {
    content: "beyon";
  }

  56.9754%,
  90.0208% {
    content: "beyond";
  }

  58.1148%,
  88.8813% {
    content: "Beyond ";
  }

  59.2543%,
  87.7418% {
    content: "beyond ! ";
  }
}
/* --------circle rotate text------- */
a.learn-more .circle .icon.arrow::before {
  top: -4px;
  right: 0px;
}
a.learn-more .circle .icon.arrow {
  background: white;
}
.go-down-btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  transform: rotate(-95deg);

  svg {
    position: relative;
    z-index: -1;
    display: block;
  }

  text {
    font-size: 14px;
    transform-origin: center;
  }
}

@keyframes rotate-btn {
  to {
    transform: rotate(360deg);
  }
}

.go-down-btn text {
  animation: rotate-btn 10s linear infinite;
}
/* --------------------Banner Ending----------------------- */
/* ------------------Counter Part Starting----------------------- */
#counter{
  margin: 160px;
}
.counter_box{
  width: 191px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  padding: 28px 36px 33px 36px;
  border-radius: 7px;
}
.counter_box{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 18px;
}
.counter_box h2 span{
  color: var(--brand_color);
  font-family: var(--brand_fontFamily);
  font-weight: 700;
  font-size: 40px;
}
.counter_box h2 {
  color: var(--brand_color);
  font-family: var(--brand_fontFamily);
  font-weight: 700;
  font-size: 18px;
}
.counter_box p{
  font-family: var(--brand_fontFamily);
  font-size: 13px;
}
.big_box{
  width: 211px;
  padding-left: -1px;
}
/* ------------------Counter Part Ending----------------------- */
/* ------------------Product info Starting----------------- */
#product{
  margin-top: 127px;
}

.product_row{
  align-items: center;
  margin-top: 22px;
}
.product_icon{
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 34px;
}
.product_icon p{
  font-size: 17px;
  font-family: var(--brand_fontFamily);
  color: var(--brand_color);
  font-weight: 400;
}
/* ------------------Product info Ending------------------ */
/* ------------------Efficiency Starting----------------------- */
#efficiency{
  margin-top: 127px;
}
.efficiency_img{
  margin-top: 49px;
}

/* ------------------Efficiency Ending----------------------- */
/* ------------------Accessories Starting----------------------- */
#accessories{
  margin-top: 315px;
}
.accessories_row{
  margin-top: 160px;
}
.accessories_row .list_head h2{
  font-family: var(--brand_fontFamily);
  color: var(--brand_color);
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 33px;
}
.accessories_row .accessories_list{
  align-items: center;
  justify-content: start;
  margin-top: 22px;
}
.accessories_list .product_icon{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-bottom: 34px;
}
.accessories_list p{
  font-size: 20px;
  font-family: var(--brand_fontFamily);
  color: var(--brand_color);
  font-weight: 400;
}
.rw1{
  margin-bottom: 112px;
}
.rw2{
  margin-right: 0px;
}
.ai2 img{
  width: 779px;
}
.more_accessories{
  width: 570px;
  border: 3px solid var(--brand_color);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 74px;
}
.more_accessories h2{
  font-family: var(--brand_fontFamily);
  color: var(--brand_color);
  font-size: 30px;
  font-weight: 700;
  padding: 29px 63px;
}
/* ------------------Accessories Ending----------------------- */
/* ------------------Gallery Starting----------------------- */
#gallery{
  margin-top: 127px;
}
.gallery_left{
  margin-top: 302px;
}
.gallery_buttons .b1{
  width: 570px;
  border: 3px solid var(--brand_color);
  border-radius: 10px;
  margin-top: 55px;
}
.gallery_buttons .b1 h2{
  font-family: var(--brand_fontFamily);
  color: var(--brand_color);
  font-size: 28px;
  font-weight: 700;
  padding: 29px 130px;
  text-align: center;
}
.gallery_buttons .b1:nth-child(2), .b1:nth-child(3){
  margin-top: 27px;
}
.gallery_right .galleryR8Image{
  margin-top: 112px;
}
.galleryR8Image img:nth-child(2){
  margin-top: 96px;
}
/* ------------------Gallery Ending----------------------- */
/* ------------------Colors Starting----------------------- */
#color{
  margin-top: 128px;
}
.slider_row{
  margin-top: 104px;
}
.colorSlider{
  position: relative;
}
.Single_slider img{
  width: 100%;
}
.slider_nav{
  position: absolute;
  width: 100% !important;
  top: -126px;
}
.navImage img{
  width: 245px;
}
/* ------------------Colors Ending----------------------- */
/* ------------------Testimonials Starting------------------ */
#testimonials{
  margin-top: 304px;
  background-color: #FAFAFA;
  padding-top: 78px;
  padding-bottom: 82px;
}
.review_card{
  width: 360px;
  height: 366px;
  border: 1px solid #D8D8D8;
  padding: 52px 22px 51px 34px;
  transition: all 300ms ease-in-out;
}
.review_card .stars{
  display: flex;
  place-content: center;
}
.review_card .stars i{
  color: #FE8B75;
}
.review_card p{
  font-family: var(--brand_fontFamily);
  color: var(--brand_color);
  font-size: 20px;
  text-align: center;
  width: 304px;
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 47px;
}
.profile h2{
  font-family: var(--brand_fontFamily);
  color: var(--brand_color);
  font-size: 16px;
  font-weight: 500;
}
.profile h3{
  font-family: var(--brand_fontFamily);
  color: var(--brand_color);
  font-size: 14px;
  font-weight: 400;
  text-align: start;
  margin: 0;
}
.profile{
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.testimonials_slider{
  position: relative;
}
.arrows{
 position: absolute;
 right: 40%;
 bottom: -80px;
 display: flex;
 align-items: center;
 justify-content: center;
 color: var(--brand_color);
 transition: all 500ms ease-in-out;

}
.prr{
  left: 46%;
  bottom: -80px;
  width: 42px;
  height: 42px;
  border: 1px solid #42454A;
  border-radius: 50%;
  font-size: 18px;
}
.nrr{
  right: 46%;
  width: 42px;
  height: 42px;
  bottom: -80px;
  border: 1px solid #42454A;
  border-radius: 50%;
  font-size: 18px;
}
.arrows:hover{
  background-color: #42454A;
  border: none;
  color: white;
  transform: scale(1.1);
}
.review_card:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
/* ------------------Testimonials Ending-------------------- */
/* ------------------Subscribe Ending----------------------- */
#subscribe{
  margin-top: 121px;
}
#subscribe .commonHead h2{
  padding-bottom: 11px;
}
#subscribe .commonHead{
  margin-bottom: 59px;
}
.subs_input{
  margin-top: 59px;
  position: relative;
  width: 616px;
  height: 81px;
  margin: 0 auto;
}
.subs_input input{
  border: 1px solid #F5F5F5;
  border-radius: 10px;
  outline: none;
  width: 616px;
  height: 81px;
  padding-left: 38px;
}
.subs_input input::placeholder{
  font-family: var(--brand_fontFamily);
  color: var(--brand_color);
  font-size: 20px;
  font-weight: 400;
}
.input_button{
  position: absolute;
  top: 0;
  right: 0;
}
.input_button button{
  width: 196px;
  height: 81px;
  border: none;
  border: 1px solid #F5F5F5;
  background-color: var(--brand_color);
  font-family: var(--brand_fontFamily);
  font-size: 20px;
  font-weight: 400;
  color: white;
  border-radius: 10px;
}
/* ------------------Subscribe Ending----------------------- */
/* ------------------Footer Ending----------------------- */
/* ------------------Footer Ending----------------------- */


